ADF/pipeline/pipeline_aggfiltereddata.json
{
	"name": "pipeline_aggfiltereddata",
	"properties": {
		"activities": [
			{
				"name": "df_filterfoldersfrompollutionschema",
				"description": "des",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_filterfoldersfrompollutionschema",
						"type": "DataFlowReference",
						"parameters": {
							"numberofdays": {
								"value": "@pipeline().parameters.numberofdays",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "getallfiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lookuppollutionschema",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookuppollutionschema').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "mergealldatatosinglefile",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat(item().Year, '/', item().Month, '/', item().Date)",
											"type": "Expression"
										},
										"wildcardFileName": "*"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_blobstorageformultiplefiles",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_blobstorageformultiplefiles",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "lookuppollutionschema",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "df_filterfoldersfrompollutionschema",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "@concat('pollutionfiltereddata', formatDateTime(utcnow(), 'yyyy-MM-dd'), '.csv')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_pollutionschemafiltered",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"numberofdays": {
				"type": "int",
				"defaultValue": 5
			}
		},
		"variables": {
			"FolderNames": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-10-26T05:17:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}